playwright
playwright-stealth
python-dotenv
aiogram
supabase
requests
fastapi
uvicorn
pydantic
celery
redis
llama-index
llama-parse
sqlalchemy
psycopg2-binary
langchain-google-genai
langgraph
langsmith
langchain-community
langchain-openai
pypdf
