playwright
playwright-stealth
python-dotenv
aiogram
supabase
requests
httpx
aiohttp
fastapi
uvicorn
pydantic
celery[redis]
redis
llama-index
llama-parse
sqlalchemy
aiosqlite
psycopg2-binary
langchain-google-genai
langgraph
langsmith
langchain-community
langchain-openai
pypdf
asyncpg
