aiogram
httpx
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langgraph
openai
playwright-stealth
protobuf
python-dotenv
requests
SQLAlchemy
supabase
celery
redis
amadeus
google-generativeai==0.8.4
playwright
asyncpg
psycopg2-binary